@*
    For more information on enabling MVC for empty projects, visit (link unavailable)
*@
@{
    var userID = -1;
    var username = "";
    var email = "";
    var password = "";
    var orders = new List<Cloud_Aissgnment_1.Models.productTable> { };
    var products = new List<Cloud_Aissgnment_1.Models.productTable> { };

    if (TempData["userID"] != null)
    {
        userID = int.Parse(TempData["userID"].ToString());
        username = TempData["username"].ToString();
        email = TempData["email"].ToString();
        password = TempData["password"].ToString();

        orders = TempData["orders"] as List<Cloud_Aissgnment_1.Models.productTable>;
        products = TempData["products"] as List<Cloud_Aissgnment_1.Models.productTable>;
        TempData["userID"] = userID;
    }
    else
    {
        userID = -1;
    }

    // var orders = null;
    // var productsBought = null;
}

<div class="account-details">
    <h3>Account</h3>
    <p><strong>Username:</strong> @username</p>
    <p><strong>Email:</strong> @email</p>
    <strong>Password:</strong><input type="password" value="@password">
</div>

<h4>Client Orders</h4>

<div class="grid-container">
    @foreach (var p in products)
    {
        <div class="grid-item">
            <p class="grid-item-text">@p.Name</p>
            @* <img src=item.picture /> *@
            <p class="grid-item-text">R @p.Price</p>
        </div>
    }
</div>
<h4>Products Bought</h4>

<div class="grid-container">
@foreach (var o in orders)
{
    <div class="grid-item">
        <p class="grid-item-text">@o.Name</p>
       @*  <img src=item.picture /> *@
        <p class="grid-item-text">R @o.Price</p>
    </div>
}
</div>

