@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var products = ViewData["Products"] as List<Cloud_Aissgnment_1.Models.productTable>;
    int productID = -1;
    DateTime d = DateTime.Today;

    if (TempData["productID"] != null)
    {
        productID = int.Parse(@TempData["productID"].ToString());
        TempData["productID"] = productID;
    }



    var userID = -1;
    if (TempData["userID"] != null)
    {
        userID = int.Parse(TempData["userID"].ToString());
        TempData["userID"] = userID;
    }
    else
    {
        userID = -1;
    }
}

<h2>Ordered Product</h2>
<p> </p>
<p> </p>
@foreach (var item in products)
{
    if (item.ID == productID)
    {
        <div class="grid-item">
            <p class="grid-item-text">@item.Name</p>
            <img class="center img-block" src=@item.ImageSrcString />
            <p class="grid-item-text">R @item.Price</p>
        </div>
        if (@HttpContextAccessor.HttpContext.Session.GetInt32("UserID") != null)
        {
            <form class="form" asp-controller="Transaction" asp-action="Buy" method="post">
                @if (userID != null)
                {
                    <input type="hidden" name="userID" value="@userID" />
                    <input type="hidden" name="productID" value="@productID" />
                    <input type="hidden" name="date" value="@d" />
                    <input type="submit" value="Buy">
                }
            </form>
        }

    }

}
@if (TempData["productID"] == null)
{
    <p>Nothing to see here ...</p>
}
else
{

    <p></p>
    <form class="form" asp-controller="Transaction" asp-action="ClearCart" method="post">
        <input type="submit" value="Clear Cart" />
    </form>
}